# This sample config file (in root) allows us to run RedCommandline
# TODO - link to web page documenting these

# NAME OF THE INPUT AND OUTPUT FILES - REQUIRED
FILE_INPUT=examples/ExcelDataRules/chocolate-data.xls
FILE_OUTPUT=examples/ExcelDataRules/some-output.xls

# THE RULES FILES WE WANT TO EXECUTE - AT LEAST ONE REQUIRED
RULE1=Examples/ExcelDataRules/log-then-modify-rules.drl


########################
# More advanced Settings
########################

# FORCE LOGGING, REGARDLESS OF ANY OTHER SETINGS - OPTIONAL
# DEFAULTS TO DEBUG LEVEL (A LOT!)
LOG_FILE_NAME=red-piranha.log

# Name of the Translator file we use to transform or 'english' domain specific language into 
# something the Rule Engine can understand.
DSL=translator.dsl

# For debugging, we can set the file_output to json
# Just remember to comment any other file output settings above
# FILE_OUTPUT=output.json

# For running in server mode - close the GUI when done.
# Optional, defaults to stay open
# ALLOWED VALUES = CLOSE_ON_COMPLETION  - closes *only* on successful completion (no errors)
# GUI_MODE = 