
# This sample config file (in root) allows us to run RedCommandline

# NAME OF THE INPUT AND OUTPUT FILES
EXCEL_INPUT=examples/ExcelDataRules/chocolate-data.xls
EXCEL_OUTPUT=examples/ExcelDataRules/some-output.xls

# THE RULES FILES WE WANT TO EXECUTE
DRL1=Examples/ExcelDataRules/log-then-modify-rules.drl

# FORCE LOGGING, REGARDLESS OF ANY OTHER SETINGS
# DEFAULTS TO DEBUG LEVEL (A LOT!)
LOG_FILE_NAME=red-piranha.log