<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Red-Piranha - run Business Rules in Word and Excel</title>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Include Bootstrap to style the page-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">


<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">


<!--  For JSON Rendering -->

<style>
.renderjson a {
	text-decoration: none;
}

.renderjson .disclosure {
	color: crimson;
	font-size: 150%;
}

.renderjson .syntax {
	color: grey;
}

.renderjson .string {
	color: darkred;
}

.renderjson .number {
	color: darkcyan;
}

.renderjson .boolean {
	color: blueviolet;
}

.renderjson .key {
	color: darkblue;
}

.renderjson .keyword {
	color: blue;
}

.renderjson .object.syntax {
	color: lightseagreen;
}

.renderjson .array.syntax {
	color: orange;
}
</style>

</head>

<body>
	<div class="container-fluid">
		<h3 class="display-3">Red-Piranha is a set of Power tools for
			Excel and Office Power users.</h3>
		<p></p>
		<p>
			It packages <a href="https://www.drools.org/">the Drools Business
				Rules Management System (BRMS) solution from RedHat (IBM)</a> to be more
			accessible to Excel users. In particular, it makes it easier to feed
			information from Excel and Word (Office) Documents, apply business
			rules to these documents, and get useful results.
		</p>
		<p>Most importantly, because your business rules are in an
			'English like' language, it makes it very easy for you (and
			colleagues) to see what checks are being made.</p>

		<form class="form-inline" action="#" th:action="@{/runRules}"
			method="get" th:object="${redModel}">

			<div class="row">
				<div class="col-xs-6">
					<img src="splash.png" alt="Red Piranha GUI Splash" width="100"
						height="66">
				</div>
				<div class="col-xs-6"></div>
			</div>
			<p />

			<div id="contents-main">

				<p class="bg-primary">&nbsp;Current Settings</p>

				<div class="form-group">


					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Input&nbsp;File&nbsp;Name:
							<input type="text" class="form-control"
							th:field="*{inputFileLocation}" />
						</label>
					</div>
				</div>

				<div class="form-group">

					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Business&nbsp;Rules&nbsp;File&nbsp;1:
							<input type="text" class="form-control"
							th:field="*{ruleFileLocation}" />
						</label>
					</div>
				</div>

				<div class="form-group">

					<div class="col-sm-10">
						<label for="inputEmail3" class="col-sm-2 control-label">Domain&nbsp;Specific&nbsp;Language&nbsp;(DSL)&nbsp;File&nbsp;-&nbsp;Optional
							<input type="text" class="form-control"
							th:field="*{dslFileLocation}" />
						</label>
					</div>
				</div>
				<div class="form-group">

					<div class="col-sm-10">
						<label for="inputEmail3" class="col-sm-2 control-label">Output&nbsp;File&nbsp;Location:
							<input type="text" class="form-control"
							th:field="*{outputFileLocation}" />
						</label>
					</div>

				</div>

				<div class="form-group">

					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Run Rules</button>
					</div>

				</div>

			</div>

		</form>


		<p class="bg-primary">&nbsp;Samples</p>
		<div id="sampleDataDiv">


			<div th:if="${samples == null}" class="row">
				<!-- Only show this button if samples list is empty-->
				<div class="col-md-6"></div>
				<p>
					<a href="/" class="btn btn-default">Return to Main Samples List</a>
				</p>
			</div>
		</div>

		<!-- Loop through samples list-->
		<div th:each="sample : ${samples}" class="row">

			<div class="col-md-1">
				<a th:href="'runRules'+${sample.sampleUrlParams}"
					class="btn btn-default">Run Sample</a>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.inputFileLocation}"></p>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.ruleFileLocation}"></p>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.outputFileLocation}"></p>
			</div>
			<div class="col-md-8">
				<p th:text="${sample.descriptiontext}"></p>
			</div>
			<p />
			<div class="col-md-8">
				<hr />
			</div>
		</div>


		<p class="bg-primary">&nbsp;Progress</p>



		<div th:if="${displayException !=null}">
			<div class="alert alert-danger show">

				<!-- only if there is an Error Alert -->
				<p>
					<strong>Error</strong>
				</p>
				<p th:text="${displayException}"></p>
			</div>
		</div>

		<div th:if="${updateMessage !=''}" class="alert alert-info show">
			<!-- only if there is not an message to show  -->
			<p th:text="${updateMessage}"></p>
		</div>

		<p class="bg-primary">&nbsp;More Detailed Messages</p>
		<table class="table table-bordered table-hover table-striped">
			<tr th:each="msg : ${ruleFileMessages}">
				<td th:text="${msg}" />
			</tr>

		</table>


		<!-- Load Javascript-->
		<script type="text/javascript" src="renderjson.js"></script>

		<p class="bg-primary">&nbsp;Information from Input File</p>
		<p id="showresulthere">Result</p>

		<script th:inline="javascript">
    		var inputJson = [[${inputFacts}]];
    		//var str = JSON.stringify(inputJson, undefined, 4);
    		//document.getElementById("showresulthere").innerHTML=syntaxHighlight (str);
    		
    		document.getElementById("showresulthere").appendChild(
    		        renderjson(inputJson)
    		    );

		</script>



		<p class="bg-primary">&nbsp;Information Output from Business Rules</p>
		<p th:text="${outputFacts}" />


	</div>



</body>

</html>