<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Red-Piranha - run Business Rules in Word and Excel</title>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Include Bootstrap to style the page-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.3.0/json2html.min.js"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.json2html/1.2.0/jquery.json2html.min.js"
		crossorigin="anonymous"></script>

	<!-- Json Visualizer Core -->
	<link href="visualizer.css" rel="stylesheet">
	<script src="visualizer.js"></script>


</head>

<body>
	<div class="container-fluid">
		<h3 class="display-3">Red-Piranha is a set of Power tools for
			Excel and Office Power users using Rule Based AI. </h3>
		<p></p>
		<p>
			Red Piranha (<a href="https://github.com/firstpartners-net/red-piranha/">Home page</a>) 
			extends the KIE / Drools Business AI Rules Management System (BRMS) solution from RedHat (IBM)
			to be more accessible to Excel users. In particular, it makes it easier to feed
			information from Excel and Word (Office) Documents, apply business
			rules to these documents, and get useful results.
		</p>
		<p>Most importantly, because your business rules are in an
			'English like' language, it makes it very easy for you (and
			colleagues) to see what checks are being made.</p>

		<form class="form-inline" action="#" th:action="@{/runRules}" method="get" th:object="${redModel}">

			<div class="row">
				<div class="col-xs-6">
					<a href="/">
					<img src="splash.png" alt="Red Piranha GUI Splash" width="100" height="66">
					</a>
				</div>
				<div class="col-xs-6"></div>
			</div>
			<p />

			<div id="contents-main">

				<p class="bg-primary">&nbsp;Current Settings</p>

				<div class="form-group">


					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Sub&nbsp;Directory:
							<input type="text" class="form-control" th:field="*{subDirectory}" />
						</label>
					</div>
				</div>

				<div class="form-group">


					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Input&nbsp;File&nbsp;Name:
							<input type="text" class="form-control" th:field="*{inputFileLocation}" />
						</label>
					</div>
				</div>

				<div class="form-group">

					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Business&nbsp;Rules&nbsp;File&nbsp;1:
							<input type="text" class="form-control" th:field="*{ruleFileLocation}" />
						</label>
					</div>
				</div>

				<div class="form-group">

					<div class="col-sm-10">
						<label for="inputEmail3"
							class="col-sm-2 control-label">Domain&nbsp;Specific&nbsp;Language&nbsp;(DSL)&nbsp;File&nbsp;-&nbsp;Optional
							<input type="text" class="form-control" th:field="*{dslFileLocation}" />
						</label>
					</div>
				</div>
				<div class="form-group">

					<div class="col-sm-10">
						<label for="inputEmail3" class="col-sm-2 control-label">Output&nbsp;File&nbsp;Location:
							<input type="text" class="form-control" th:field="*{outputFileLocation}" />

						</label>
						
					</div>
				</div>

				<div class="form-group">

					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Run Rules</button>
					</div>

				</div>

			</div>

		</form>


		<p class="bg-primary">&nbsp;Samples</p>
		<div id="sampleDataDiv">


			<div th:if="${samples == null}" class="row">
				<!-- Only show this button if samples list is empty-->
				<div class="col-md-6"></div>
				<p>
					<a href="/" class="btn btn-default">Return to Main Samples List</a>
				</p>
			</div>
		</div>

		<!-- Loop through samples list-->
		<div th:each="sample : ${samples}" class="row">

			<div class="col-md-1">
				<a th:href="'runRules'+${sample.sampleUrlParams}" class="btn btn-default">Run Sample</a>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.subDirectory}"></p>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.inputFileLocation}"></p>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.ruleFileLocation}"></p>
			</div>
			<div class="col-md-4">
				<p th:text="${sample.outputFileLocation}"></p>
			</div>
			<div class="col-md-12">
				<p th:utext="${sample.sampleDescription}"></p>
			</div>
			<p />
			<div class="col-md-8">
				<hr />
			</div>
		</div>


		<p class="bg-primary">&nbsp;Progress</p>



		<div th:if="${displayException !=null}">
			<div class="alert alert-danger show">

				<!-- only if there is an Error Alert -->
				<p>
					<strong>Error</strong>
				</p>
				<p th:text="${displayException}"></p>
			</div>
		</div>

		<div th:if="${updateMessage !=''}" class="alert alert-info show">
			<!-- only if there is not an message to show  -->
			<p th:text="${updateMessage}"></p>
		</div>

		<p class="bg-primary">&nbsp;More Detailed Messages</p>
		<table class="table table-bordered table-hover table-striped">
			<tr th:each="msg : ${ruleFileMessages}">
				<td th:text="${msg}" />
			</tr>

		</table>



		<p class="bg-primary">&nbsp;Information from Input File</p>
		<div id="input"></div>

		<script th:inline="javascript">	
		
			
			//Next line is auto-generated by Thymeleaf based on server side value
			var inputJson = [(${inputFacts})];
		
			$(function () {

				//Create a new visualizer object
				var _visualizer = new visualizer($("#input"));

				//Visualize the demo json object
				_visualizer.visualize(inputJson);

			});

		</script>


		<p class="bg-primary">&nbsp;Information Output from Business Rules</p>
		<div id="output"></div>

		<script th:inline="javascript">
			
			//Next line is auto-generated by Thymeleaf based on server side value
			var outputJson = [(${outputFacts})];
		
			$(function () {

				//Create a new visualizer object
				var _visualizer = new visualizer($("#output"));

				//Visualize the demo json object
				_visualizer.visualize(outputJson);

			});

		</script>


	</div>



</body>

</html>