
#NAME OF THE INPUT AND OUTPUT FILES
FILE_INPUT=chocolate-data.xls     
FILE_OUTPUT=output.xls     

#THE RULES FILES WE WANT TO EXECTURE
RULE1=log-then-modify-rules.drl

########################
# More advanced Settings
########################

# FORCE LOGGING, REGARDLESS OF ANY OTHER SETINGS - OPTIONAL
# DEFAULTS TO DEBUG LEVEL (A LOT!)
LOG_FILE_NAME=red-piranha.log

# Name of the Translator file we use to transform or 'english' domain specific language into 
# something the Rule Engine can understand.
DSL=translator.dsl

