<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	
	<!--  Main Servlet -->
	<servlet>
		<servlet-name>rp2</servlet-name>
		<servlet-class>net.firstpartners.rp2.Rp2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rp2</servlet-name>
		<url-pattern>/rp2</url-pattern>
	</servlet-mapping>
	
	<!-- Our Sample -->
	<servlet>
		<servlet-name>ServletSample</servlet-name>
		<servlet-class>net.firstpartners.sample.SpreadsheetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletSample</servlet-name>
		<url-pattern>/ServletSample</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>service.jsp</welcome-file>
	</welcome-file-list>
</web-app>
